{% extends "base.html" %}
{% block title %}Dodaj Koszt {% endblock %}

{% block content %} <h1>Dodaj Koszt</h1> 
<form action="#" method="post" class="form-inline">
    <div class="form-group">
        <label for="formGroupExampleInput">Kontrahent:</label>
    <p>
        <select class="form-control">
        {% for x in nazwy %}
            <option>
                {{x}}
            </option>
        {% endfor%}
        </select>
    </p>    
    </div>
    <div class="row">
    <div class="col"">
        <label for="formGroupExampleInput">Data wystawienia:</label>
        <input type="date" value={{d}} name="dw" class="form-control">
    </div>
    <div class="col">
        <label for="formGroupExampleInput">Termin płatności:</label>
        <input type="date" value={{d}} name="tp" class="form-control">
    </div>
    <div class="col">
        <label for="formGroupExampleInput">Data opłacenia:</label>
        <input type="date" value={{d}} name="do" class="form-control">
    </div>
    
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Nazwa kosztu</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="form-group col-md-1"">
        <label for="kwota">Kwota</label>
        <input type="text" class="form-control" id="kwota">
    </div>
    <br />
    <div class="form-group row  center-block">
        <div class="col-lg-1 center-block">
            <button class="btn btn-outline-success" type="submit">Zatwiedź</button>  
        </div> 
        <div class="col-lg-1 center-block">
            <button class="btn btn-outline-danger" type="reset">Reset</button>  
        </div> 
    </div>

</form>

{% endblock %}